*{
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

header{
  background-color: #ebe2d6;
  padding-left: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h1{
  font-style: italic;
  font-size: 3rem;
  background-color: #ebe2d6;
}

header>p{
  background-color: #ebe2d6;
}

main{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}



.search-input {
  width: 10rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.suggestions-list {
  position: absolute;
  width: 11rem;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #3498db; /* Couleur de fond initiale */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  background-color: #2980b9; /* Couleur de fond au survol */
}

button:active {
  transform: scale(1.1); /* Grossir au clic */
}

.beer-search {
  width: 20rem;
}


/* styles.css */


 section {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}



button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

.search-input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 20px;
  font-size: 16px;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 10px;
  border-bottom: 1px solid #ced4da;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}
